.Main {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: rgb(22, 69, 156);
  background-color: rgb(245, 243, 243);
}

.viewOneHeader {
  text-align: center;
  color: rgb(44, 42, 42);
}

.domainName {
  padding: 20px;
  background-color: cornsilk;
}

.domainName div {
  font-size: 15px;
  font-weight: bolder;
}

.domainName li {
  margin: 10px 10px 0px 10px;
  opacity: 0.5;
  transition: 0.3s;
}

.domainName li:hover {
  opacity: 1;
  cursor: pointer;
}